<main id="site-main">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> Home </a>
           </div>
        </div>
    </div>
</main>

<style type="text/css">ol {
	margin: 0;
	padding: 0
}

table td,
table th {
	padding: 0
}

.c20 {
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #2b2d42;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #2b2d42;
	vertical-align: top;
	border-right-color: #2b2d42;
	border-left-width: 1pt;
	border-top-style: solid;
	background-color: #2b2d42;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 600pt;
	border-top-color: #2b2d42;
	border-bottom-style: solid
}

.c12 {
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #2b2d42;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #2b2d42;
	vertical-align: top;
	border-right-color: #2b2d42;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 157pt;
	border-top-color: #2b2d42;
	border-bottom-style: solid
}

.c4 {
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #2b2d42;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #2b2d42;
	vertical-align: top;
	border-right-color: #2b2d42;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 324pt;
	border-top-color: #2b2d42;
	border-bottom-style: solid
}

.c22 {
	color: #f3f3f3;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 11pt;
	font-family: "Arial";
	font-style: normal
}

.c2 {
	color: #2b2d42;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 11pt;
	font-family: "Arial";
	font-style: normal;
	padding-bottom: 5pt;
}

.c13 {
	color: #2b2d42;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 26pt;
	font-family: "Arial";
	font-style: normal
}

.c15 {
	padding-top: 0pt;
	padding-bottom: 3pt;
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

.c16 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.15;
	orphans: 2;
	widows: 2;
	text-align: left;
	height: 11pt
}

.c1 {
	color: #f3f3f3;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 24pt;
	font-family: "Arial";
	font-style: normal
}

.c24 {
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 11pt;
	font-family: "Arial";
	font-style: normal
}

.c19 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.15;
	orphans: 2;
	widows: 2;
	text-align: left
}

.c6 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.0;
	text-align: left;
	height: 11pt
}

.c11 {
	border-spacing: 0;
	border-collapse: collapse;
	margin-right: auto
}

.c10 {
	padding-top: 5pt;
	padding-bottom: 0pt;
	line-height: 1.0;
	text-align: left;
	font-family: "Times";
}

.c5 {
	padding-top: 5pt;
	padding-bottom: 5pt;
	line-height: 1.0;
	text-align: center
}

.c7 {
	text-decoration-skip-ink: none;
	-webkit-text-decoration-skip: none;
	color: #1155cc;
	text-decoration: underline
}

.c9 {
	color: inherit;
	text-decoration: inherit
}

.c17 {
  margin: auto;
  width: 50%;
  padding: 100px 100px 100px 100px
}


.c23 {
	color: #222222
}

.c14 {
	background-color: #ffffff
}

.c0 {
	height: 0pt
}

.c8 {
	height: 21pt
}

.title {
	padding-top: 10pt;
	color: #000000;
	font-size: 26pt;
	padding-bottom: 10pt;
	font-family: "Times";
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

p {
	margin: auto;
	color: #2b2d42;
	font-size: 11pt;
	font-family: "Times"
}
</style></head>
<body class="c17">
   <p class="c19"><span class="c2"></span></p>
   <p class="c15 title" id="h.94wj9a1u7xd5"><span class="c13"></span></p>
   <a id="t.9eab57e86c9b56ee1d80c98c0e5e1d4ce1aecd20"></a><a id="t.0"></a>
   <table class="c11">
      <tbody>
         <tr class="c8">
            <td class="c20" colspan="2" rowspan="1">
               <p class="c5"><span class="c1">MATH 103 and 106: Quadrivium + Math and Politics</span></p>
            </td>
         </tr>
         <tr class="c0">
            <td class="c4" colspan="1" rowspan="1">
               <p class="c6"><span class="c2"></span></p>
               <a id="t.2f64d0d26e2930b9bb62aa2cd84b998f00d44664"></a><a id="t.1"></a>
               <table class="c11">
                  <tbody>
                     <tr class="c0">
                        <td class="c12" colspan="1" rowspan="1">
                           <p class="c10"><img alt="" src="/images/image3.jpg" style="width: 190px; height: 200px;" title=""></span><span STYLE= "font-size: 22px;">Andrea Yeager</span></p>
                        </td>
                        <td class="c12" colspan="1" rowspan="1">
                           <p class="c10"><span STYLE = "line-height: 1.25">Hi! My name is Andrea Yeager (she/her/hers) and I am currently a senior majoring in math. I’
                              m incredibly passionate about making math more accessible to different populations and approaching math in nontraditional ways. If you ever have math or life related questions,
                              please feel free to schedule a meeting with me or reach out to me at </span><span class="c7"><a class="c9" href="mailto:ay9956@bard.edu">ay9956@bard.edu</a></span><span class="c2">. </span>
                           </p>
                           <p class="c6"><span class="c2"></span></p>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <p class="c5"><span class="c7"><a class="c9">Appointment Calendar Link</a></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
               <p class="c6"><span class="c2"></span></p>
            </td>
         </tr>
      </tbody>
   </table>
   <p class="c16"><span class="c2"></span></p>
   <p class="c16"><span class="c2"></span></p>
   <a id="t.62b7fa82f87c0afc1a3f70461971eda87cc86a2c"></a><a id="t.2"></a>
   <table class="c11">
      <tbody>
         <tr class="c8">
            <td class="c20" colspan="2" rowspan="1">
               <p class="c5"><span class="c1">Calculus Sequence</span></p>
               <p class="c5"><span class="c22">MATH 110 Precalculus
                  MATH 141 Calculus I |
                  MATH 142 Calculus II</span>
               </p>
            </td>
         </tr>
         <tr class="c0">
            <td class="c4" colspan="1" rowspan="1">
               <p class="c6"><span class="c2"></span></p>
               <a id="t.ed05f675d6ed993f2857c8879b80fedc515f03f6"></a><a id="t.3"></a>
               <table class="c11">
                  <tbody>
                     <tr class="c0">
                        <td class="c12" colspan="1" rowspan="1">
                           <p class="c10"> <img src="images/image2.jpg" style="width: 190px; height: 200px;"></span><span STYLE= "font-size: 22px;">Jason Zinn</span></p>
                        </td>
                        <td class="c12" colspan="1" rowspan="1">
                           <p class="c10" STYLE = "line-height: 1.3;"><span>Hi,
                              my name is Jason,
                              I am a junior majoring in Mathematics and Computer Science. I will be serving as a tutor for the Calculus sequence (Pre Calc, Calc I, and Calc II). Feel free to meet with me regarding any questions on homeworks,
                              course material,
                              or math in general! You can sign up at  
                              the link below,
                              or email me at </span><span class="c7"><a class="c9" href="mailto:jz9088@bard.edu">jz9088@bard.edu</a></span><span>.</span><span class="c2"> 
                              </span>
                           </p>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <p class="c5"><span class="c7"><a class="c9">Appointment Calendar Link</a></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
               <p class="c6"><span class="c2"></span></p>
               <a id="t.5578eeea355e094faf776e871f294b4a553baf45"></a><a id="t.4"></a>
               <table class="c11">
                  <tbody>
                     <tr class="c0">
                        <td class="c12" colspan="1" rowspan="1">
                           <p class="c10"><img src="images/image4.jpg" style="width: 190px; height: 200px;" title=""></span></p>
                           <p class="c10"><span STYLE= "font-size: 22px;">Ahyun Yun</span></p>
                        </td>
						<td class="c12" colspan="1" rowspan="1">
							<p class="c10"><span class="c14 c23" STYLE = "line-height: 1.4">Hi this is Ahyun,
								 a senior majoring in Math and Piano Performing. I will be tutoring the Calculus sequence for this semester. If you have any questions on homeworks or about class material,
								feel free to come to my office hours on Friday, or reach me at </span><a span class="c14" href="mailto:ay0998@bard.edu"> ay0998@bard.edu</a></span>
							</p>
						 </td>
                     </tr>
                  </tbody>
               </table>
               <p class="c5"><span class="c7">
                  <a class="c9">Appointment Calendar Link</a></span>
               </p>
            </td>
         </tr>
         <tr class="c0">
            <td class="c4" colspan="1" rowspan="1">
               <p class="c6"><span class="c2"></span></p>
               <a id="t.44aa4a0d31590a9556628eebc4fd9f9a5637210c"></a><a id="t.5"></a>
               <table class="c11">
                  <tbody>
                     <tr class="c0">
                        <td class="c12" colspan="1" rowspan="1">
                           <p class="c10">
                              <img alt="" src="/images/image6.jpg" style="width: 190px; height: 200px;" title=""></span>
                           </p>
                           <p class="c10"><span STYLE= "font-size: 22px;">Clare Zhong</span></p>
                        </td>
                        <td class="c12" colspan="1" rowspan="1">
                           <p class="c10"><span class="c23 c14" STYLE = "line-height: 1.3">Hi,
                              my name is Clare and I'm a Sophomore majoring in mathematics and computer science. I have been tutoring students for 4 years now. This semester I provide tutoring in precalculus, calculus I, and calculus II! Please feel free to schedule an appointment with me below or email me at </span><span class="c7 c14"><a class="c9" href="mailto:cz8183@bard.edu">cz8183@bard.edu</a></span><span> 
                              </span>
                           </p>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <p class="c5"><span class="c7"><a class="c9">Appointment Calendar Link</a></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
               <p class="c6"><span class="c2"></span></p>
               <a id="t.4b9f93f13a78359c10d8808c1f5b78e10e984530"></a><a id="t.6"></a>
               <table class="c11">
                  <tbody>
                     <tr class="c0">
                        <td class="c12" colspan="1" rowspan="1">
                           <p class="c10"><img alt="" src="/images/image1.jpg" style="width: 190px; height: 200px;" title=""></span></p>
                           <p class="c10"><span STYLE= "font-size: 22px;">Vishrut Tiwari</span></p>
                        </td>
                        <td class="c12" colspan="1" rowspan="1">
                           <p class="c10"><span class="c14 c23" STYLE = "line-height: 1.7";>Hi my name is Vishrut Tiwari (He/Him/His) I will be tutoring precalculus, Calc I, and Calc II. If you have any questions on homework or need help revising concepts for exams please feel free to reach out at </span><a span class="c14" href="mailto:vt7433@bard.edu"> vt7433@bard.edu</a></span><span class="c23 c14"> 
                           </span>
                           </p>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <p class="c5"><span class="c7"><a class="c9">Appointment Calendar Link</a></span></p>
            </td>
         </tr>
      </tbody>
   </table>
   <p class="c16"><span class="c2"></span></p>
   <p class="c16"><span class="c2"></span></p>
   <a id="t.0753a287e1fd8c3f5170a0ba62de05ddf2c667ae"></a><a id="t.7"></a>
   <table class="c11">
      <tbody>
         <tr class="c8">
            <td class="c20" colspan="2" rowspan="1">
               <p class="c5"><span class="c1">200 Level Courses</span></p>
               <p class="c5"><span class="c22">MATH 242 Elementary Linear Algebra |
                  MATH 245 Intermediate Calculus |
                  MATH 261 Proofs and Fundamentals</span>
               </p>
            </td>
         </tr>
         <tr class="c0">
            <td class="c4" colspan="1" rowspan="1">
               <p class="c6"><span class="c2"></span></p>
               <a id="t.c11d0001955ec411abdd22bab40100ffb8be6d5b"></a><a id="t.8"></a>
               <table class="c11">
                  <tbody>
                     <tr class="c0">
                        <td class="c12" colspan="1" rowspan="1">
                           <p class="c10"><img src="images/image7.jpg" style="width: 190px; height: 200px;" title=""></span></p>
                           <p class="c10"><span STYLE= "font-size: 22px"> Eve Shefield</span></p>
                        </td>
                        <td class="c12" colspan="1" rowspan="1">
                           <p class="c10 c14"><span class="c23" STYLE = "Line-height: 1.4">I am Eve Shefield,
                              I am a junior Math and Physics major here at Bard. I have tutored for the math program and the Bard learning commons for over a year. I also study spanish,
                              and am trying to get back into playing the clarinet. I love to hike in the snow and read to my little sister. Fell free to reach out at <a span class="c14" href="mailto:es8183@bard.edu">es8183@bard.edu</a></span>
                           </p>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <p class="c5"><span class="c7"><a class="c9">Appointment Calendar Link</a></span></p>
            </td>
            <td class="c4" colspan="1" rowspan="1">
               <p class="c6"><span class="c2"></span></p>
               <a id="t.80a6d5545ecd045329ff9519f293e265892c709a"></a><a id="t.9"></a>
               <table class="c11">
                  <tbody>
                     <tr class="c0">
                        <td class="c12" colspan="1" rowspan="1">
                           <p class="c10"><img alt="" src="/images/image5.jpg" style="width: 190px; height: 200px;" title=""></span> <span STYLE= "font-size: 22px; ">Nicholas Jodoin</span></p>
                        </td>
                        <td class="c12" colspan="1" rowspan="1">
                           <p class="c10"><span class="c23" STYLE = "Line-height: 1.4">Hey,
                              my name is Nicholas (He/Him/His). I'm a senior majoring in math. This semester I'll be a tutor for Intermediate Calculus, Elementary Linear Algebra, and Proofs. I love solving puzzles and rubics cubes in my spare time. Feel free to arrange a meeting using the link below,
                              or you can reach out to me at</span> <span class="c7 c14"><a class="c9" href="mailto:nj6421@bard.edu">nj6421@bard.edu</a></span><span> 
                           </p>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <p class="c5"><span class="c7">
                  <a class="c9" >Appointment Calendar Link</a></span>
               </p>
            </td>
         </tr>
      </tbody>
   </table>
   <p class="c16"><span class="c2"></span></p>
</body>